.employees-body {
    margin-top: 96px;
    .sa-security-banner {
        width: 100%;
        display: inline-block;
        color: rgba(255,255,255,0.70);
        background-color: rgba(31,152,75,0.45);
        text-align: center;
        position: fixed;
        top: 96px;

        -webkit-box-shadow: 0 4px 4px -2px #000000;
        -moz-box-shadow: 0 4px 4px -2px #000000;
             box-shadow: 0 4px 4px -2px #000000;
    }
}