.employees-body {
    margin-top: 150px;
    width: 100%;

    .raised {
        box-shadow: inset 0 0 1em rgba(50,50,50,.5), 0 0 1em rgba(0,0,0,.5);        
    }

    i {
        &:hover {
            cursor: pointer;
            color: rgba(200,200,200,.9) !important; 
        }
    }


    button {
        background-color: rgba(50,50,50,.75);
        color: rgba(170,170,170,.8);
        border: none;
        position: relative;
        top: 2px;

        &:hover {
            color: rgba(200,200,200,.7); 
        }
    }

    .user-card {
        background-color: rgba(20,20,20,.75);
        width: 400px;
        padding: 15px;
        color: rgba(170,170,170,.8); 

        h3 {
            padding: 0 0 15px 0;
            margin: 0;
        }

        input {
            margin: 10px 0;
        }

        i {
            float: right;
        }

    }

    span.backToHome {
        color: rgba(170,170,170,.5); 
        float: right;
        margin: 10px 0;

        &:hover {
            cursor: pointer;
        }

        svg {
            position: relative;
            top: 7px;
            padding-left: 5px;
        }
    }

    .admin-usr-table {
        display: block;
        width: calc(~"100% - 200px");
        max-width: 1000px;
        margin: auto;

        input {
            background-color: rgba(11,11,11, .75);
            color: rgba(170,170,170,.5); 
            border: 1px solid rgba(50,50,50,.75);
            width: 100%;
            margin-top: 2px;
        }

        .header-row {
            display: inline-block;
            background-color: rgba(11,11,11, .75) !important;
            width: 100%;
            border-bottom: 1px solid rgba(50,50,50,.75);
            padding: 5px;
            color: rgba(170,170,170,.8); 

            div {
                display: inline-block;
            }

            .admin-title {
                float: right;
            }
            
        }

        .new-user-row {
            background-color: rgba(20,20,20,.75);
            width: 100%;
            border-bottom: 1px solid rgba(50,50,50,.75);
            padding: 10px;
            color: rgba(170,170,170,.8); 

            div {
                display: inline-block;
            }


            .new-email-col {
                width: calc(~"38%");
            }

            .new-password-col {
                width: calc(~"38%");
            }

            .new-cancel-col {
                float: right;
                i {
                    position: relative;
                    top: 7px;
                }
            }

            .new-save-col {
                float: right;
                i {
                    position: relative;
                    top: 7px;
                    padding-right: 5px;

                }
            }

            .new-admin-col {
                i {
                    position: relative;
                }
            }
        }

        .user-row {
            display: inline-block;
            background-color: rgba(20,20,20,.75);
            width: 100%;
            border-bottom: 1px solid rgba(50,50,50,.75);
            padding: 5px;
            color: rgba(170,170,170,.8); 

            i {
                position: relative;
                top: 4px;
            }

            div {
                display: inline-block;
            }

            .new-pwd-col-1 {
                width: 38%;
                display: inline-block;
                input {
                    width: 100%;
                }
            }

            .new-pwd-col-2 {
                width: 38%;
                display: inline-block;
                input {
                    width: 100%;
                }
            }

            .new-pwd-col-3 {
                float: right;
            }

            .new-pwd-col-4 {
                float: right;

                i {
                    padding-right: 5px;
                }
            }

            .email-col {
                width: calc(~"100% - 250px");
                margin-top: 3px;
            }

            .password-col {
                width: 140px;
                float: right;
                padding: 0 10px 0 0;

            }

            .admin-col {
                width: 50px;                
                float: right;
                padding: 0 10px 0 0;

                &:hover {
                    cursor: pointer;
                    color: rgba(200,200,200,.7); 
                }
                
            }

            .delete-col {
                width: 20px;                
                cursor: pointer;
                float: right;
                &:hover {
                    color: rgba(200,200,200,.7); 
                }
            }
        }

        .admin-usr-table-header {
            background-color: rgba(50,50,50,.75);
            border-bottom: 1px solid rgba(100,100,100,.5);
            padding: 10px;
            
            span.title {
                color: rgba(170,170,170,.8); 
                position: relative;
                top: 10px;
            }

            .addico {
                color: rgba(170,170,170,.8); 
                float: right;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        @media @mobile-screen {
            width: 100%;
        }
    }

    .admin-header {
        display: block;
        width: calc(~"100% - 200px");
        max-width: 800px;
        margin: auto;
        padding: 15px;

        .admin-header-title {
            font-size: 20px;
            position: relative;
            top: 15px;
        }

        .admin-header-button {
            float: right;
            border: 1px solid rgba(31,152,75,1);
            background-color: rgba(31,152,75,1);
            border: none;
            padding: 10px;
        }

        @media @mobile-screen {
            width: 100%;
        }
    }
    
    .sa-security-banner {
        width: 100%;
        display: inline-block;
        color: rgba(255,255,255,0.70);
        background-color: rgba(31,152,75,0.45);
        text-align: center;
        position: fixed;
        top: 96px;

        -webkit-box-shadow: 0 4px 4px -2px #000000;
        -moz-box-shadow: 0 4px 4px -2px #000000;
             box-shadow: 0 4px 4px -2px #000000;
    }

    .employees-dls-container {
        position: relative;
        width: calc(~"100% - 100px");
        max-width: 1200px;
        margin: auto;
        padding: 25px;  
        display: flex;  

        a {
            color: rgba(255,255,255,0.70);
            text-decoration: none;
            &+a{ margin-left: 5px;}
        }

        .dl-tile {
            height: 150px;
            width: 150px;
            display: inline-block; 
            position: relative;
            margin-bottom: 5px;
            transition: @transition-time all ease;
            background-color: rgba(91,96,81,1);
            
            &:hover {
                cursor: pointer;
                background-color: rgba(91,96,81,0.7);                                
            }

            .dl-label {
                position: relative;
                top: 40px;
                font-size: 14px;
                display: block;
                width: 100px;
                margin: auto;
            }

            .dl-icon {
                height: 24px;
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }

    .employees-app-container {
        position: relative;
        width: calc(~"100% - 100px");
        max-width: 1200px;
        margin: auto;
        padding: 25px;  
        display: block;  

        @media @mobile-screen {
            width: 100%;
        }

        .employees-email-app {
            min-width: 300px;
            width: calc(~"100% - 610px");
            height: 300px;
            background-color: @color2;
            display: inline-block; 
            text-align: center;
            position: relative;
            vertical-align: top;
            margin-bottom: 5px;
            transition: @transition-time all ease;

            .email-app-icon {
                height: 125px;
                display: block;
                margin: auto;
                position: relative;
                top: 50px;
            }

            .app-label {
                position: relative;
                top: 75px;
                font-size: 24px;
            }

            &:hover {
                .color2(background-color, 0.7);
                cursor: pointer;
            }
            
        }

        .employees-time-app {
            width: 300px;
            height: 300px;
            background-color: @color4;
            display: inline-block; 
            text-align: center;
            position: relative;
            vertical-align: top;
            margin-bottom: 5px; 
            transition: @transition-time all ease;

            .time-app-icon {
                height: 125px;
                display: block;
                margin: auto;
                position: relative;
                top: 50px;
            }

            .app-label {
                position: relative;
                top: 75px;
                font-size: 24px;
            }

            &:hover {
                .color4(background-color, 0.7);
                cursor: pointer;
            }
        }

        .employees-settings-app {
            background-color: rgba(50,50,50,.75);
            width: 300px;
            height: 300px;
            display: inline-block; 
            text-align: center;
            position: relative;
            margin-bottom: 5px;
            transition: @transition-time all ease;
            
            &:hover {
                background-color: rgba(50,50,50,.50);
                cursor: pointer;
            }

            .app-label {
                position: relative;
                top: 75px;
                font-size: 24px;
            }

            .settings-app-icon {
                height: 150px;
                display: block;
                margin: auto;
                position: relative;
                top: 50px;
            }
        }

        .app-tile {
            height: 300px;
            display: inline-block; 
            text-align: center;
            position: relative;
            margin-bottom: 5px;
            transition: @transition-time all ease;
            
            &:hover {
                cursor: pointer;
            }

            .app-label {
                position: relative;
                top: 75px;
                font-size: 24px;
            }

            .app-icon {
                height: 150px;
                display: block;
                margin: auto;
                position: relative;
                top: 50px;
            }
        }

        .square-tile {
            width: 300px;
        }

        .stretch-tile {
            min-width: 300px;
            width: calc(~"100% - 610px");            
        }

        .deltek-tile {
            background-color: rgba(255,55,0,0.7);

            &:hover {
                background-color: rgba(255,55,0,0.5);                
            }
        }

        .trow-tile {
            background-color: rgba(51,124,150,1);

            &:hover {
                background-color: rgba(51,124,150,0.7);                
            }
        }

        .payroll-tile {
            background-color: rgba(3,121,13,1);
            
            &:hover {
                background-color: rgba(3,121,13,0.7);                
            }
        }

    }
}