.content-body {
    &.home {
        .carousel-navigation {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;

            .carousel-nav-arrows {
                .nav-ctrl {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;

                    background: rgba(255,255,255,0.5);
                    color: rgba(0,0,0,1);
                    padding: 10px;
                    height: 60px;

                    &.nav-prev { 
                        left: 0px;
                        border-top-right-radius: 50%;
                        border-bottom-right-radius: 50%;
                    }
                    &.nav-next { 
                        right: 0px;
                        border-top-left-radius: 50%;
                        border-bottom-left-radius: 50%;
                    }

                    i { font-size: 40px; }
                }
            }

            .carousel-indicator-container {
                max-width: 50%;
                position: absolute;
                left: 50%;
                bottom: 100px;
                transform: translateX(-50%);
                
                .carousel-indicator {
                    background: rgba(255,255,255,0.5);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    &.active-btn { background: rgba(0,0,0,0.9);}
                    &+.carousel-indicator { margin-left: 20px;}
                }
            }
        }
        .carousel-item-container {
            position: relative;
            width: 100%;
            height: 100%;
            .carousel-item{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                overflow: hidden;
                &.m1 { left: 0; }
                &.m2 { left: @comp-content-width; }
                &.m3 { left: @comp-content-width * 2; }

                img {                      
                    height: 100%;
                    min-width: 100%;
                    transform: translateX(-50%);
                    position: absolute;
                    top: 0;
                    left: 50%;
                }
            }
        }
    }

    .content-section {
        .backImg {
            position: absolute;
            z-index: 0;
            top:0;
            left:0;
            width:100%;
            height: 100%;
            .overlay { 
                position: absolute; 
                z-index: 1; 
                width: 100%; 
                height: 100%; 
                background: linear-gradient(to right, @color3, @color4); 
                opacity: 0.3;

                &.all-color4 { background: @color4;}
            }
            .img {    
                position: relative;
                z-index: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 0.2;

                -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
                filter: grayscale(80%);
                &.parallax { background-attachment: fixed;  } 
                &.demoimg1{ background-image: url('../images/home1.jpg'); }
                &.demoimg2{ background-image: url('../images/contactus.jpg'); }
                &.serviceimg {  background-image: url('../images/services.jpg');}
                &.benefitsimg {  background-image: url('../images/benefits.jpg');}
                &.office1img {  background-image: url('../images/office1.jpg');}
                &.meetingimg {  background-image: url('../images/meeting1.jpg');}
            }
            .scroll-anchor {
                background: rgba(255,255,255,0.5);
                color: @background;
                position: fixed;
                top: 70%;
                right: 0px;
                transform: translateY(-70%);
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                z-index: 2;
                padding: 10px 20px;
                display: flex;
                transition: 1s all ease;

                .scroll-item {  height: 24px; font-weight: bold; } 
                &.hide-direction { 
                    right: -100%;
                }               
            }
        }
        .carousel-switch{
            display: flex;
            flex-direction: row; 
            position: absolute;
            z-index: 1;
            width: 80%;
            top: 50%;
            transform: translateY(-50%);
            @media @mobile-screen { 
                flex-direction: column;
                width: calc(~"100% - 40px");
                top: 130px;
                transform: initial;
            }       
            .switch-section{            
                &.wd6 { width: 60%; }
                &.wd4 { width: 40%; }
                @media @mobile-screen { 
                    width: 100% !important; 
                    text-align: center;
                    &+.switch-section { margin-top: 10px;}
                } 
                .switch-content {
                    display: none;
                    -webkit-animation:1.5s  fadeOutLeft ease;
                    animation:1.5s fadeOutLeft ease;

                    &.active {
                        display: block;
                        -webkit-animation:1.5s  fadeInLeft ease;
                        animation:1.5s fadeInLeft ease;
                    }
                    
                    .content-title {
                        text-align: center;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                    .content-text { 
                        font-size: 1.3rem; 
                        line-height: 3rem;
                        @media @mobile-screen { 
                            font-size: 1.1rem;
                            line-height: 2rem;
                        }
                    }
                }
                .css-object {            
                    &.css-computer { display: block; }
                    &.css-phone { display: none; }
                    @media @mobile-screen {
                        &.css-computer { display: none;}
                        &.css-phone { display: block; }
                    }
                }                   
            }
        }

        .content-box-container {
            display: flex;
            flex-direction: row;
            @media @mobile-screen { flex-direction: column;}
            .content-box {
                display: flex;
                flex-direction: column;
                overflow-y: hidden;
                &.full-width { width: 100%;}
                .flex-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    @media @mobile-screen { flex-direction: column; }
                    .flex-column {
                        padding: 10px;
                        @media @mobile-screen { width: 100%;}
                    }
                }
                .box-row {
                    display: flex;
                    //flex: 1;
                    flex-direction: row;
                    @media @mobile-screen { flex-direction: column; border: none !important;}

                    &+.line-row { border-top: 2px solid rgba(255,255,255,1); }                    
                    .box-column {
                        display: flex;
                        flex-direction: row;
                        padding: 30px 20px;
                        width: 50%;
                        @media @mobile-screen { flex-direction: column; border: none !important; width: 100%; text-align: center;}
                        &.column-flex { flex-direction: column;  }
                        &.full-width-column { width: 100%; }
                        &.shallow-bottom-padding { padding-bottom: 10px; }
                        &.shallow-top-padding { padding-top: 10px; }
                        
                        &+.line-column{ border-left: 2px solid rgba(255,255,255,1);}                        
                        .box-content{
                            padding: 0px 10px;
                            &.center-content { text-align: center;}                            
                            &.btn-box { padding-top: 20px;}
                            &.indent-content { padding-left: 20px;}
                            .content-title {
                                margin-top: 0px;
                                .text-highlight { color: @color2;}
                                .text-highlight-4 { color: @color4;}
                            }

                            .solution-img {
                                border-radius: 50%;                                
                                .color4(background, 0.7);
                                
                                display: inline-block;
                                width: 150px;
                                height: 150px; 
                                position: relative;
                                overflow: hidden;
                                
                                .material-icons {
                                    color: rgba(255,255,255,1);
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    font-size: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}