.relationships {
    .content-box-container {
        .content-box {
            .flex-row {
                .flex-column {
                    &.bulk-text { 
                        line-height: 2rem;                         
                    }
                    .partner-logos-container {
                        width: 800px;
                        display: block;
                        margin: 20px auto;    
                        background-color: rgb(135, 135, 135);
                        padding: 10px;
                        position: relative;
                        top: 25px;
                        border-radius: 5px;

                        @media @mobile-screen {
                            display: grid;
                            width: 100%;
                        }
                        
                        img {
                            padding: 25px;
                            margin: auto;
                            max-width: 250px;
                        }
                    }
                }
            }
        }
    }
}