<div class="content-body 404">
    <div class="content-section page-header-body afterAngle angle-background">
        <div class="backImg">
            <div class="overlay"></div>
            <div class="img benefitsimg"></div>
        </div>
        <div class="page-header-container content-box-container">
            <div class="content-box full-width about-back">
                <div class="box-row">
                    <div class="box-column shallow-bottom-padding">
                        <div class="page-title-container">
                            <div class="page-subtitle">This page does not exists</div>
                            <h1 class="page-title">404</h1>
                        </div>
                    </div>
                </div>
                <div class="box-row">
                    <div class="box-column full-width-column shallow-top-padding">
                        <div class="page-title-container">
                            <p class="page-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section">
        <h1>Sorry</h1>
        <p>You may have reached this page in error please return to our home page for more information <a href="{home}">Home</a></p>
    </div>
</div>