<div class="content-body benefits">
    <div class="content-section page-header-body afterAngle angle-background">
        <div class="backImg">
            <div class="overlay"></div>
            <div class="img demoimg2"></div>
        </div>
        <div class="page-header-container content-box-container">
            <div class="content-box full-width about-back">
                <div class="box-row">
                    <div class="box-column shallow-bottom-padding">
                        <div class="page-title-container">
                            <div class="page-subtitle">Quality Service & Experience For Our Team</div>
                            <h1 class="page-title">Employee Benefits</h1>
                        </div>
                    </div>                    
                </div>
                <div class="box-row">
                    <div class="box-column full-width-column shallow-top-padding">
                        <div class="page-title-container">
                            <p class="page-text">For us to deliver quality service and value to our clients, we need our people to have a similar
                                experience here at SA. Part of that experience is recognizing and rewarding staff impact and
                                progression in innovative and competitive ways.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Financial Well Being -->
    <div class="content-section">
        <h2 class="section-title">Financial Well Being</h2>
        <div class="content-box-container">
            <div class="content-box">
                <div class="flex-row">
                    <div class="flex-column benefit-img"><img src="images/benefit-demo1.jpg"></div>
                    <div class="flex-column benefits-content">
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-icon"><div class="icon-container"><i class="material-icons">&#xE227;</i></div></div>
                            <div class="benefit-info">
                                <div class="benefit-title">Base Salary</div>
                                <div class="benefit-text">Your base salary compensates you for the value you bring to SA and for meeting our
                                    everyday high expectations. We offer base pay that is externally competitive, internally
                                    equitable and tied to performance.</div>
                                <div class="benefit-text special-text">
                                    We provide information around how compensation is determined, who we compare
                                    ourselves against in the market, and how we use reliable salary data to make
                                    compensation decisions. We share individual salary ranges with our staff and talk about
                                    where each staff fits within that range and why. We discuss and provide details on what
                                    our staff's earning potential can be over the course of a career at SA.
                                </div>
                            </div>
                        </div>
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-icon"><div class="icon-container"><i class="material-icons">&#xE84F;</i></div></div>
                            <div class="benefit-info">
                                <div class="benefit-title">Retirement and savings plans</div>
                                <div class="benefit-text">
                                    Save from 1% to 100% of eligible compensation on a pre- and/or post-tax basis in the
                                    401(k) Savings Plan (if you are at least 21 years old; IRS limits apply). SA offers a 100%
                                    matching contribution on the first 6% of pay saved.
                                    Potential Profit Sharing provides an opportunity for all eligible SA staff to share in the
                                    success of the company—and increase their rewards through their strong individual
                                    performance and contributions.
                                </div>
                            </div>
                        </div>
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-icon"><div class="icon-container"><i class="material-icons">&#xE914;</i></div></div>
                            <div class="benefit-info">
                                <div class="benefit-title">Disability coverage</div>
                                <div class="benefit-text">
                                    Through the Short-Term Disability (STD) Plan, you may receive STD benefits equivalent
                                    to 60% to 100% of your salary for up to 26 weeks if you have at least three months
                                    service and become disabled.
                                    You may elect Long-Term Disability Plan coverage paying 60% (untaxed) of your base
                                    salary (up to $600,000); benefit payments start after 26 weeks of a covered disability,
                                    which are generally covered under the STD plan.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>