<div class="content-body benefits">
    <div class="content-section page-header-body afterAngle angle-background">
        <div class="backImg">
            <div class="overlay"></div>
            <div class="img benefitsimg"></div>
        </div>
        <div class="page-header-container content-box-container">
            <div class="content-box full-width about-back">
                <div class="box-row">
                    <div class="box-column shallow-bottom-padding">
                        <div class="page-title-container">
                            <div class="page-subtitle">Quality Service & Experience For Our Team</div>
                            <h1 class="page-title">Employee Benefits</h1>
                        </div>
                    </div>                    
                </div>
                <div class="box-row">
                    <div class="box-column full-width-column shallow-top-padding">
                        <div class="page-title-container">
                            <p class="page-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Text -->
    <div class="content-section">
        <p class="title-text">For us to deliver quality service and value to our clients, we need our people to have a similar
            experience here at SA. Part of that experience is recognizing and rewarding staff impact and
            progression in innovative and competitive ways.</p>
    </div>
    <!-- Financial Well Being -->
    <div class="content-section">
        <h2 class="section-title">Financial Well Being</h2>
        <div class="content-box-container">
            <div class="content-box">
                <div class="flex-row">
                    <!--<div class="flex-column benefit-img"><img src="images/benefit-demo1.jpg"></div>-->
                    <div class="flex-column benefits-content">
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-icon"><div class="icon-container"><i class="material-icons">&#xE227;</i></div></div>
                            <div class="benefit-info">
                                <div class="benefit-title">Base Salary</div>
                                <p class="benefit-text">Your base salary compensates you for the value you bring to SA and for meeting our
                                    everyday high expectations. We offer base pay that is externally competitive, internally
                                    equitable and tied to performance.</p>
                                <p class="benefit-text special-text">
                                    We provide information around how compensation is determined, who we compare
                                    ourselves against in the market, and how we use reliable salary data to make
                                    compensation decisions. We share individual salary ranges with our staff and talk about
                                    where each staff fits within that range and why. We discuss and provide details on what
                                    our staff's earning potential can be over the course of a career at SA.
                                </p>
                            </div>
                        </div>
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-icon"><div class="icon-container"><i class="material-icons">&#xE84F;</i></div></div>
                            <div class="benefit-info">
                                <div class="benefit-title">Retirement and savings plans</div>
                                <p class="benefit-text">
                                    Save from 1% to 100% of eligible compensation on a pre- and/or post-tax basis in the
                                    401(k) Savings Plan (if you are at least 21 years old; IRS limits apply). SA offers a 100%
                                    matching contribution on the first 6% of pay saved.
                                    Potential Profit Sharing provides an opportunity for all eligible SA staff to share in the
                                    success of the company—and increase their rewards through their strong individual
                                    performance and contributions.
                                </p>
                            </div>
                        </div>
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-icon"><div class="icon-container"><i class="material-icons">&#xE914;</i></div></div>
                            <div class="benefit-info">
                                <div class="benefit-title">Disability coverage</div>
                                <div class="benefit-text">
                                    Through the Short-Term Disability (STD) Plan, you may receive STD benefits equivalent
                                    to 60% to 100% of your salary for up to 26 weeks if you have at least three months
                                    service and become disabled.
                                    You may elect Long-Term Disability Plan coverage paying 60% (untaxed) of your base
                                    salary (up to $600,000); benefit payments start after 26 weeks of a covered disability,
                                    which are generally covered under the STD plan.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Item Points -->
    <div class="content-section dark-1 beforeAngle afterAngle angle-background">                 
        <div class="content-box-container">
            <div class="content-box lined-icons full-width">
                <!-- Row 1 -->
                <div class="flex-row">
                    <div class="flex-column align-right">
                        <div class="icon-text"><span>25+ PTO Days Annually</span></div>
                        <div class="icon-item"><div class="icon-container"><i class="material-icons">&#xE8DF;</i></div></div>
                    </div>
                    <div class="flex-column">
                        <div class="icon-item"><div class="icon-container"><i class="material-icons">&#xE548;</i></div></div>
                        <div class="icon-text"><span>80% Company-Paid Premium Medical, Vision and Dental</span></div>                    
                    </div>
                </div>
                <!-- Row 2 -->
                <div class="flex-row">
                    <div class="flex-column align-right">
                        <div class="icon-text"><span>100% Company-Paid Short and Long Term Disability</span></div>
                        <div class="icon-item"><div class="icon-container"><i class="material-icons">&#xE8DC;</i></div></div>
                    </div>
                    <div class="flex-column">
                        <div class="icon-item"><div class="icon-container"><i class="material-icons">&#xE89A;</i></div></div>
                        <div class="icon-text"><span>Employee Assistance Program</span></div>                    
                    </div>
                </div>
                <!-- Row 3 -->
                <div class="flex-row">
                    <div class="flex-column align-right">
                        <div class="icon-text"><span>Direct 401K contribution</span></div>
                        <div class="icon-item"><div class="icon-container"><i class="material-icons">&#xE88A;</i></div></div>
                    </div>
                    <div class="flex-column">
                        <div class="icon-item"><div class="icon-container"><i class="material-icons">&#xE80C;</i></div></div>
                        <div class="icon-text"><span>Education Expense Reimbursement</span></div>                    
                    </div>
                </div>
                <!-- Row 4 -->
                <div class="flex-row">
                    <div class="flex-column align-right">
                        <div class="icon-text"><span>Professional Association Expense Reimbursement</span></div>
                        <div class="icon-item"><div class="icon-container"><i class="material-icons">&#xE8A1;</i></div></div>
                    </div>
                    <div class="flex-column">
                        <div class="icon-item"><div class="icon-container"><i class="material-icons">&#xE91F;</i></div></div>
                        <div class="icon-text"><span>Employee Referral Bonus</span></div>                    
                    </div>
                </div>
                <!-- Row 5 -->
                <div class="flex-row">
                    <div class="flex-column align-right">
                        <div class="icon-text"><span>Flexible Work Schedule</span></div>
                        <div class="icon-item"><div class="icon-container"><i class="material-icons">&#xE8B5;</i></div></div>
                    </div>
                    <div class="flex-column">
                        <div class="icon-item"><div class="icon-container"><i class="material-icons">&#xE61D;</i></div></div>
                        <div class="icon-text"><span>Flexible Communications Allowance</span></div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Recognition -->
    <div class="content-section">
        <h2 class="section-title">Recognition</h2>
        <div class="content-box-container">
            <div class="content-box">
                <div class="flex-row">
                    <!--<div class="flex-column benefit-img"><img src="images/benefit-demo1.jpg"></div>-->
                    <div class="flex-column benefits-content">
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-icon"><div class="icon-container"><i class="material-icons">&#xE8F6;</i></div></div>
                            <div class="benefit-info">
                                <div class="benefit-title">Real-time Recognition</div>
                                <div class="benefit-text">
                                        These awards demonstrate the sincere appreciation for the many
                                        things you do day-in and day-out, including highly exceptional discretionary effort and
                                        impact in providing internal and external client service that goes above and beyond the
                                        high expectations of your position.
                                </div>                                
                            </div>
                        </div>
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-icon"><div class="icon-container"><i class="material-icons">&#xE8F7;</i></div></div>
                            <div class="benefit-info">
                                <div class="benefit-title">Referral Rewards</div>
                                <div class="benefit-text">
                                        Our success depends on imagination, motivation and the chance for
                                        each of us to grow our own way. Help us share the SA experience with talented people
                                        you know in your personal and professional networks and you could receive a referral
                                        reward while supporting SA.
                                </div>
                            </div>
                        </div>
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-icon"><div class="icon-container"><i class="material-icons">&#xE53F;</i></div></div>
                            <div class="benefit-info">
                                <div class="benefit-title">Local Events</div>
                                <div class="benefit-text">
                                        Monthly social activities and corporate perks to Baltimore-Washington DC area events
                                </div>
                            </div>
                        </div>
                        <!-- Row -->
                        <div class="benefit-row">
                                <div class="benefit-icon"><div class="icon-container"><i class="material-icons">&#xE80C;</i></div></div>
                                <div class="benefit-info">
                                    <div class="benefit-title">Educational support</div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Time Off -->
    <div class="content-section dark-1 beforeAngle afterAngle angle-background">
        <h2 class="section-title">Time Off</h2>            
        <div class="content-box-container">
            <div class="content-box">
                <div class="flex-row">
                    <div class="flex-column benefit-img"><img src="images/summer.svg"></div>
                    <div class="flex-column benefits-content">
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-info">
                                <div class="benefit-title">Holidays</div>
                                <div class="benefit-text">Ten paid holidays each year.</div>                                
                            </div>
                        </div>
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-info">
                                <div class="benefit-title">Vacation Time</div>
                                <div class="benefit-text">
                                    Full-time staff (other than management level) accrue 15 workdays per year; after
                                    one year of service, full time staff earn 1 additional day of PTO annually up to a
                                    maximum of 25 days.
                                </div>
                            </div>
                        </div> 
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-info">
                                <div class="benefit-text">We think everyone deserves some time off to truly unplug and relax - or do something great! It's amazing what we can achieve when we don't have to worry about the demands of work.</div>                                
                            </div>
                        </div>                           
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Health & Well Being -->
    <div class="content-section">
        <h2 class="section-title">Health & Well Being</h2>
        <div class="content-box-container">
            <div class="content-box full-width">
                <div class="flex-row">
                    <!-- Box1 -->
                    <div class="flex-column flex-product">
                        <div class="product-container">
                            <div class="product-title">Health Care Coverage</div>
                            <div class="product-content">
                                <ul>
                                    <li>SA offers 80% Company Paid medical/vision and Dental plan. Preventive care is covered at 100% with network doctors.</li>
                                    <li>Prescription drug benefits and physical exams are available through SA's medical plan options.</li>
                                    <li>Vision care coverage enables you to obtain services and purchase eyeglasses and lenses at reduced rates from providers nationwide.</li>
                                    <li>The dental plan covers services ranging from diagnostic and preventive care to orthodontia treatment - all available from your choice of network providers.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Box2 -->
                    <div class="flex-column flex-product">
                        <div class="product-container">
                            <div class="product-title">Employee Assistance Program</div>
                            <div class="product-content">
                                This resource provides information, confidential assessments, and referrals on issues ranging
                                from emotional well-being, financial problems, parenting and child care, to resources for seniors,
                                and much more.
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <!-- Professional development -->
    <div class="content-section dark-1 beforeAngle angle-background">
        <h2 class="section-title">Professional development</h2>            
        <div class="content-box-container">
            <div class="content-box">
                <div class="flex-row">                    
                    <div class="flex-column benefits-content">
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-info">
                                <div class="benefit-text">SA will help its staff obtain professional designation(s) appropriate to
                                        their discipline by providing study support and/or paying for all or a portion of the cost of                                        
                                        preparation courses for professional examinations through the Professional Certification
                                        Expenses program.
                                </div>                                
                            </div>
                        </div>
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-info">
                                <div class="benefit-text">The Educational Support Program generally provides staff with educational support of up to $5,000 (non-taxable) per calendar year to further their education.</div>
                            </div>
                        </div> 
                        <!-- Row -->
                        <div class="benefit-row">
                            <div class="benefit-info">
                                <div class="benefit-text">Flexible Communications Allowance</div>                                
                            </div>
                        </div>                           
                    </div>
                    <div class="flex-column benefit-img"><img src="images/006-presentation.svg"></div>
                </div>
            </div>
        </div>
    </div>
   
</div>