<div class="content-body careers">
    <div class="content-section page-header-body afterAngle angle-background">
        <div class="backImg">
            <div class="overlay"></div>
            <div class="img demoimg2"></div>
        </div>
        <div class="page-header-container content-box-container">
            <div class="content-box full-width about-back">
                <div class="box-row">
                    <div class="box-column">
                        <div class="page-title-container">
                            <div class="page-subtitle">Become A Part Of Our Team</div>
                            <h1 class="page-title">Careers</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Careers List -->
    <div class="content-section">
        <h2 class="section-title">Avaliable Positions</h2>
        <div class="content-box-container">
            <div class="content-box">
                <div id="jobs">
                    <input class="search" placeholder="Search" />
                    <button class="sort" data-sort="title">Sort by title</button>
                  
                    <ul class="list">
                        <!--<li>
                            <div class="position-container">
                                <div class="position-section position-icon"></div>
                                <div class="position-section position-info">
                                    <div class="position-row"><span class="title"></span></div>
                                    <div class="position-row flex-row">
                                        <div class="category"></div>
                                        <div>Full-time</div>
                                        <div class="position-skill">Skill Level: <span class="skillLevel"></span></div>
                                    </div>
                                </div>
                                <div class="position-section position-details">
                                    <a href="" class="cir-btn"><span>More Information</span></a>
                                </div>                               
                            </div>
                        </li>-->
                    </ul>                  
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ctrl = ctrl ? ctrl : new CareersCtrl();

    var jobList = new List('jobs', ctrl.options, ctrl.values);
</script>