<div class="content-body contact-us">
    <div class="content-section page-header-body afterAngle angle-background">
        <div class="page-header-container content-box-container">
            <div class="content-box">
                <div class="box-row">
                    <div class="box-column">
                        <div class="page-title-container">
                            <div class="page-subtitle">Share Your Ideas</div>
                            <h1 class="page-title">Contact Us</h1>
                        </div>
                    </div>
                    <div class="box-column page-header-img"><img  src="assets/images/demo6.jpg"></div>
                </div>
            </div>
        </div>
    </div>
</div>