<div class="content-body contact-us">
    <div class="content-section page-header-body afterAngle angle-light-1">
        <div class="page-header-container content-box-container">
            <div class="content-box full-width">
                <div class="box-row">
                    <div class="box-column">
                        <div class="page-title-container">
                            <div class="page-subtitle">Share Your Ideas</div>
                            <h1 class="page-title">Contact Us</h1>
                        </div>
                    </div>
                    <div class="box-column page-header-img"><img  src="assets/images/demo6.jpg"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Email Us Form -->
    <div class="content-section light-background afterAngle angle-background">
        <h2 class="section-title">Send Us A Message</h2>
        <div class="contact-us-form-container content-box-container">
            <form class="content-box">                
                <div class="form-container">
                    <!-- Name -->
                    <div class="form-row"><input type="text" name="msgName" placeholder="Name *"></div>                               
                    <!-- Email -->                
                    <div class="form-row"><input type="text" name="msgEmail" placeholder="Email Address *"></div>                
                    <!-- Subject -->                
                    <div class="form-row"><input type="text" name="msgSubject" placeholder="Subject *"></div>                
                    <!-- Message -->                
                    <div class="form-row"><textarea type="text" name="msgMessage" placeholder="Message *"></textarea></div>
                    <!-- Submit Button -->
                    <div class="form-row btn-box"><div class="cir-btn">Submit</div></div>
                </div>
            </form>
        </div>
    </div>
    <!-- Our Location -->
    <div class="content-section">
        <h2 class="section-title">Our Location</h2>
        <div class="content-box-container">
            <div class="content-box map-box">
                <div class="box-row map-row">
                    <div class="box-column map-column">
                        <div id="map"></div>
                    </div>
                    <div class="box-column column-flex info-column">
                        <div class="box-content img-content"><img src="assets/images/logo.png"></div>
                        <!-- -->
                        <div class="box-content"><h3>Address</h3></div>
                        <div class="box-content indent-content"><div>1234 Testville Dr.</div></div>
                        <div class="box-content indent-content"><div>Columbia, MD. 21040</div></div>
                        <!-- -->
                        <div class="box-content"><h3>Email Us:</h3></div>
                        <div class="box-content indent-content"><div>info@strategic-analytix.com</div></div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Map Scripts -->
<script>
    function initMap() {
        var uluru = { lat: 	39.1130484, lng: -76.9001878};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuwkRt4Mde-XNOF3vBESuIikYAiTF4gCg&callback=initMap">
</script>
