<div class="employees-body">
    <div id="employees-home-component">
        <div class="employees-app-container">
            <div onclick="openInNewTab('https://sso.secureserver.net/?app=email&realm=pass');" class="employees-email-app raised">
                <img class="email-app-icon" src="images/envelope.svg" alt="Email">
                <span class="app-label">Email</span>
            </div>
            <div onclick="openInNewTab('https://online3.timeanywhere.com/novatime/ewskiosk.aspx?cid=9B6E157C-596E-440B-A182-8F89A08602AF');"class="employees-time-app raised">
                <img class="time-app-icon" src="images/timer.svg" alt="Time Keeping">
                <span class="app-label">SA Time Online</span>
            </div>
            <div class="employees-settings-app raised" onclick="onAdminClick()">
                <img class="settings-app-icon" src="images/gears.svg" alt="Settings">
                <span class="app-label">Account</span>
            </div>
        </div>
    </div>
    <div id="employees-admin-component">

        <div class="admin-usr-table">
            <span class="backToHome" onclick="onHomeClick()">
                Home <i class="material-icons">&#xE5C8;</i>
            </span>
            <div class="clearfix"></div>

            <div id="user-card-parent">
                <div id="user-card" class="user-card raised" style="display: inline-block">
                    <div class="user-card-email">
                        <h3>{{email}}</h3>
                    </div>
                    <div class="user-card-pw-1 new-pwd-col-1 show-on-reset" style="display: none">
                        <input type="password" placeholder="new password" />
                    </div>
                    <div class="user-card-pw-2 new-pwd-col-2 show-on-reset" style="display: none">
                        <input type="password" placeholder="repeat password" />
                    </div>
                    <div class="user-card-pw-3 show-on-reset" style="display: none">
                        <i class="material-icons" onclick="onNonAdminCancelReset(this)" title="Cancel">&#xE5C9;</i>
                        <i class="material-icons" onclick="onSaveReset('{{email}}', this); onNonAdminCancelReset(this)" style="padding-right: 5px;"
                            title="Save">&#xE161;</i>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user-card-reset-pw hide-on-reset">
                        <button onclick="onNonAdminResetPwd('{{email}}', this)" class="user-card-reset-pw">reset password</button>
                    </div>
                </div>
            </div>

            <div id="admin-usr-table" class="raised">
                <div class="admin-usr-table-header">
                    <span class="title">Accounts</span>
                    <i class="material-icons addico" title="Add New" onclick="onAddAccount()">&#xE7FE;</i>
                    <div class="clearfix"></div>
                </div>

                <div>
                    <div class="new-user-row" style="display: inline-block">
                        <div class="new-email-col">
                            <input id="new-acc-email" type="text" title="Email" placeholder="email" />
                        </div>
                        <div class="new-password-col">
                            <input id="new-acc-password" type="password" title="Password" placeholder="password" />
                        </div>
                        <div class="new-admin-col">
                            <i id="new-acc-admin" onclick="onNewAdminClick()" class="material-icons" title="Admin">&#xE835;</i>
                        </div>
                        <div class="new-cancel-col">
                            <i onclick="onCancelAccount()" class="material-icons" title="Cancel">&#xE5C9;</i>
                        </div>
                        <div class="new-save-col">
                            <i onclick="onSaveClick()" class="material-icons" title="Save">&#xE161;</i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>


                <div class="header-row">
                    <div class="email-col">email</div>
                    <div class="admin-title" style="padding-right: 175px;">admin</div>
                    <div class="clearfix"></div>
                </div>
                <span id="users-template-parent">
                    <div id="users-template" class="user-row">
                            <div class="email-col hide-on-reset">{{email}}</div>
                            <div class="delete-col hide-on-reset"><i onclick="onDeleteClick('{{email}}')" class="material-icons">&#xE872;</i></div> 
                            <div class="password-col hide-on-reset"><button  onclick="onResetPwdClick('{{email}}', this)">reset password</button></div> 
                            <div class="admin-col hide-on-reset" onclick="onUpdateAdminClick('{{email}}', '{{admin}}', this)" >{{if admin (+<i class="material-icons">&#xE834;</i>+) (-<i class="material-icons">&#xE835;</i>-)}}</div>                     
                            <div class="new-pwd-col-1 show-on-reset" style="display: none">
                                <input type="password" placeholder="new password"/>
                            </div>
                            <div class="new-pwd-col-2 show-on-reset" style="display: none">
                                <input type="password" placeholder="repeat new password"/>
                            </div>
                            <div class="new-pwd-col-3 show-on-reset" style="display: none">
                                <i class="material-icons" onclick="onCancelReset(this)" title="Cancel">&#xE5C9;</i>    
                            </div>
                            <div class="new-pwd-col-4 show-on-reset" style="display: none">
                                <i class="material-icons" onclick="onSaveReset('{{email}}', this)" title="Save">&#xE161;</i>
                            </div>
                            <div class="clearfix"></div>                                                        
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>

<script>
    var ctrl = ctrl ? ctrl : new EmployeesCtrl();
    var user = JSON.parse(localStorage.getItem('SAUser'));

    function onAdminClick() {
        ctrl.adminIf.viewable = true;
        ctrl.homeIf.viewable = false;
        ctrl.adminIf.reconcile();
        ctrl.homeIf.reconcile();
        window.scroll(0, 0);
        if (!ctrl.users) ctrl.getUsers();
        ctrl.usrAdminIf.viewable = user.admin;
        ctrl.usrAdminIf.reconcile();
        ctrl.usrCardIf.viewable = !user.admin;
        ctrl.usrCardIf.reconcile();

        if (!user.admin) {
            ctrl.usrCardBind.obj = user;
            ctrl.usrCardBind.reconcile();
        }

    }


    function onHomeClick() {
        ctrl.adminIf.viewable = false;
        ctrl.homeIf.viewable = true;
        ctrl.adminIf.reconcile();
        ctrl.homeIf.reconcile();
        window.scroll(0, 0);
    }

    function onAddAccount() {
        ctrl.newUserIf.viewable = true;
        ctrl.newUserIf.reconcile();
    }

    function onCancelAccount() {
        ctrl.newUserIf.viewable = false;
        ctrl.newUserIf.reconcile();
    }

    function onNewAdminClick(event) {
        var e = document.getElementById('new-acc-admin');
        ctrl.newAccount.admin = !ctrl.newAccount.admin;
        if (ctrl.newAccount.admin) {
            e.innerHTML = '&#xE834;';
        } else {
            e.innerHTML = '&#xE835;';
        }
    }

    function onSaveClick() {
        ctrl.newAccount.email = document.getElementById('new-acc-email').value;
        ctrl.newAccount.password = document.getElementById('new-acc-password').value;
        ctrl.postUser();
    }

    function onDeleteClick(email) {
        var r = confirm("Are you sure you want to delete " + email + "?");
        if (r == true) {
            ctrl.deleteUser(email);
        }
    }

    function onUpdateAdminClick(email, admin, el) {
        var b = !JSON.parse(admin);
        ctrl.updateUser(email, null, b);
    }

    function onResetPwdClick(email, el) {
        var cols = el.parentNode.parentNode.childNodes;
        for (var i = 0; i < cols.length; i++) {
            if (cols[i].classList && cols[i].classList.contains('hide-on-reset')) {
                cols[i].style.display = 'none';
            } else if (cols[i].classList && cols[i].classList.contains('show-on-reset')) {
                cols[i].style.display = 'inline-block';
            }
        }
    }

    function onCancelReset(el) {
        var cols = el.parentNode.parentNode.childNodes;
        for (var i = 0; i < cols.length; i++) {
            if (cols[i].classList && cols[i].classList.contains('hide-on-reset')) {
                cols[i].style.display = 'inline-block';
            } else if (cols[i].classList && cols[i].classList.contains('show-on-reset')) {
                cols[i].style.display = 'none';
            }
        }
    }

    function onSaveReset(email, el) {
        var cols = el.parentNode.parentNode.childNodes;
        var newpass, repeatpass;

        for (var i = 0; i < cols.length; i++) {
            if (cols[i].classList && cols[i].classList.contains('new-pwd-col-1')) {
                newpass = cols[i].childNodes[1].value;
            }
            if (cols[i].classList && cols[i].classList.contains('new-pwd-col-2')) {
                repeatpass = cols[i].childNodes[1].value;
            }
        }

        if (newpass == null || newpass == '') {
            alert('Password reset failed: passwords must not be empty.');
            return;
        }

        if (newpass != repeatpass) {
            alert('Password reset failed: passwords must match.');
            return;
        }

        ctrl.updateUser(email, newpass, null);
    }

    function onNonAdminResetPwd(email, el) {
        var cols = el.parentNode.parentNode.childNodes;
        for (var i = 0; i < cols.length; i++) {
            if (cols[i].classList && cols[i].classList.contains('hide-on-reset')) {
                cols[i].style.display = 'none';
            } else if (cols[i].classList && cols[i].classList.contains('show-on-reset')) {
                cols[i].style.display = 'inline';
            }
        }
    }

    function onNonAdminCancelReset(el) {
        var cols = el.parentNode.parentNode.childNodes;
        for (var i = 0; i < cols.length; i++) {
            if (cols[i].classList && cols[i].classList.contains('hide-on-reset')) {
                cols[i].style.display = 'inline';
            } else if (cols[i].classList && cols[i].classList.contains('show-on-reset')) {
                cols[i].style.display = 'none';
            }
        }
    }

    function openInNewTab(url) {
        var win = window.open(url, '_blank');
        win.focus();
    }

</script>