<div class="employees-body">
    <div id="employees-home-component">
        <div class="employees-app-container">
            <div onclick="openInNewTab('https://sso.secureserver.net/?app=email&realm=pass');" class="employees-email-app raised">
                <img class="email-app-icon" src="images/envelope.svg" alt="Email">
                <span class="app-label">Email</span>
            </div>
            <div onclick="openInNewTab('https://online3.timeanywhere.com/novatime/ewskiosk.aspx?cid=9B6E157C-596E-440B-A182-8F89A08602AF');"
                class="employees-time-app raised">
                <img class="time-app-icon" src="images/timer.svg" alt="Time Keeping">
                <span class="app-label">Strategic Analytix Time</span>
            </div>
            <div class="employees-settings-app raised" onclick="onAdminClick()">
                <img class="settings-app-icon" src="images/gears.svg" alt="Settings">
                <span class="app-label">Account</span>
            </div>
            <div onclick="openInNewTab('https://subktemp.caci.com/DeltekTC/welcome.msv');" class="app-tile square-tile deltek-tile raised">
                <img class="app-icon" src="images/deltek.svg" alt="Deltek">
                <span class="app-label">CACI Time</span>
            </div>
            <div onclick="openInNewTab('https://www3.troweprice.com/usrps/workplace/en/login.html');" class="app-tile square-tile trow-tile raised">
                <img class="app-icon" src="images/401k.svg" alt="401k">
                <span class="app-label">T. Rowe Price 401K</span>
            </div>
            <div onclick="openInNewTab('https://my.adp.com/static/redbox/login.html');" class="app-tile mini-square-tile payroll-tile raised">
                <img class="app-icon" src="images/payroll.svg" alt="401k">
                <span class="app-label">Payroll</span>
            </div>
            <div onclick="openInNewTab('https://subtc.serco-na.com/DeltekTC/welcome.msv');" class="app-tile mini-square-tile serco-tile raised">
                <img class="app-icon" src="images/deltek.svg" alt="401k">
                <span class="app-label">Serco Time</span>
            </div>
        </div>

        <div class="employees-dls-container">
            <a href="/downloads/STD_policy">
                <div class="dl-tile raised">
                    <svg class="dl-icon" alt="Short-term Disability" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                    <span class="dl-label">Short-term Disability Policy</span>
                </div>
            </a>
            <a href="/downloads/LTD_policy">
                <div class="dl-tile raised">
                    <div class="dl-tile raised">
                        <svg class="dl-icon" alt="Long term Disability" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                        <span class="dl-label">Long-term Disability Policy</span>
                    </div>
                </div>
            </a>
            <a href="/downloads/EAP">
                <div class="dl-tile raised">
                    <div class="dl-tile raised">
                        <svg class="dl-icon" alt="Employee Assistance" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                        <span class="dl-label">Employee Assistance Program</span>
                    </div>
                </div>
            </a>

            <a href="/downloads/ED_Reimburse">
                <div class="dl-tile raised">
                    <div class="dl-tile raised">
                        <svg class="dl-icon" alt="Employee Assistance" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                        <span class="dl-label">Employee Educational Reimbursement Agreement</span>
                    </div>
                </div>
            </a>
            <a href="/downloads/Prof_dev">
                <div class="dl-tile raised">
                    <div class="dl-tile raised">
                        <svg class="dl-icon" alt="Employee Assistance" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                        <span class="dl-label">Employee Professional Development Agreement</span>
                    </div>
                </div>
            </a>

            <a href="/downloads/getEMPHandbook">
                <div class="dl-tile raised">
                    <div class="dl-tile raised">
                        <svg class="dl-icon" alt="Employee Handbook" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                        <span class="dl-label">Employee Handbook</span>
                    </div>
                </div>
            </a>

            <a href="/downloads/getFBA">
                <div class="dl-tile raised">
                    <div class="dl-tile raised">
                        <svg class="dl-icon" alt="Flexible Benefit Addendum" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                        <span class="dl-label">Flexible Benefit Addendum</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div id="employees-admin-component">

        <div class="admin-usr-table">
            <span class="backToHome" onclick="onHomeClick()">
                Home <svg fill="#aaaaaa" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                </svg>
            </span>
            <div class="clearfix"></div>

            <div id="user-card-parent">
                <div id="user-card" class="user-card raised" style="display: inline-block">
                    <div class="user-card-email">
                        <h3>{{email}}</h3>
                    </div>
                    <div class="user-card-pw-1 new-pwd-col-1 show-on-reset" style="display: none">
                        <input type="password" placeholder="new password" />
                    </div>
                    <div class="user-card-pw-2 new-pwd-col-2 show-on-reset" style="display: none">
                        <input type="password" placeholder="repeat password" />
                    </div>
                    <div class="user-card-pw-3 show-on-reset" style="display: none">
                        <svg onclick="onNonAdminCancelReset(this)" title="Cancel" fill="#aaaaaa" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"
                            />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                        <svg onclick="onSaveReset('{{email}}', this); onNonAdminCancelReset(this)" title="Save" style="padding-right: 5px;" fill="#aaaaaa"
                            height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"
                            />
                        </svg>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user-card-reset-pw hide-on-reset">
                        <button onclick="onNonAdminResetPwd('{{email}}', this)" class="user-card-reset-pw">reset password</button>
                    </div>
                </div>
            </div>

            <div id="admin-usr-table" class="raised">
                <div class="admin-usr-table-header">
                    <span class="title">Accounts</span>
                    <svg class="addico" title="Add New" onclick="onAddAccount()" fill="#aaaaaa" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
                        />
                    </svg>
                    <div class="clearfix"></div>
                </div>

                <div>
                    <div class="new-user-row" style="display: inline-block">
                        <div class="new-email-col">
                            <input id="new-acc-email" type="text" title="Email" placeholder="email" />
                        </div>
                        <div class="new-password-col">
                            <input id="new-acc-password" type="password" title="Password" placeholder="password" />
                        </div>
                        <div class="new-admin-col">
                            <i id="new-acc-admin" onclick="onNewAdminClick()" title="Admin"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></i>
                        </div>
                        <div class="new-cancel-col">
                            <i onclick="onCancelAccount()" title="Cancel" class="fa fa-times fa-lg" aria-hidden="true"></i></i>
                        </div>
                        <div class="new-save-col">
                            <i onclick="onSaveClick()" title="Save" class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>


                <div class="header-row">
                    <div class="email-col">email</div>
                    <div class="admin-title" style="padding-right: 175px;">admin</div>
                    <div class="clearfix"></div>
                </div>
                <span id="users-template-parent">
                    <div id="users-template" class="user-row">
                            <div class="email-col hide-on-reset">{{email}}</div>
                            <div class="delete-col hide-on-reset"><i onclick="onDeleteClick('{{email}}')" class="fa fa-trash fa-lg" aria-hidden="true"></i>
                            </i></div> 
                            <div class="password-col hide-on-reset"><button  onclick="onResetPwdClick('{{email}}', this)">reset password</button></div> 
                            <div class="admin-col hide-on-reset" onclick="onUpdateAdminClick('{{email}}', '{{admin}}', this)" >{{if admin (+<i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>+) (-<i class="fa fa-square-o fa-lg" aria-hidden="true"></i>-)}}</div>                     
                            <div class="new-pwd-col-1 show-on-reset" style="display: none">
                                <input type="password" placeholder="new password"/>
                            </div>
                            <div class="new-pwd-col-2 show-on-reset" style="display: none">
                                <input type="password" placeholder="repeat new password"/>
                            </div>
                            <div class="new-pwd-col-3 show-on-reset" style="display: none">
                                <i class="fa fa-times fa-lg" onclick="onCancelReset(this)" title="Cancel"></i>    
                            </div>
                            <div class="new-pwd-col-4 show-on-reset" style="display: none">
                                <i class="fa fa-floppy-o fa-lg" onclick="onSaveReset('{{email}}', this)" title="Save"></i>
                            </div>
                            <div class="clearfix"></div>                                                        
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>

<script>

</script>