<div class="employees-body">
    <div id="employees-home-component">
        <!-- <div class="sa-security-banner">Strategic Analytix Employee Portal </div> -->
        <div class="employees-app-container">
            <div class="employees-email-app"></div>
            <div class="employees-time-app"></div>
            <div class="employees-settings-app">
                <img class="settings-app-icon" src="images/gears.svg" alt="Settings">
                <span class="app-label">Administration</span>
            </div>
        </div>
    </div>
    <div id="employees-admin-component">
        Admin component works!
    </div>
</div>