<div class="content-body home">
    <div class="content-section full afterAngle angle-background ceruleanCarousel">
        <div class="backImg">
            <div class="overlay"></div>
            <div class="img demoimg1"></div>
            <div class="scroll-anchor">
                <div class="scroll-item">Scroll</div>
                <div class="scroll-item"><i class="material-icons">&#xE313;</i></div>
            </div>
        </div>
        <!-- Carousel Nav -->
        <div class="carousel-navigation">
            <div class="carousel-indicator-container">
                <div class="carousel-indicator active-btn carousel-btn" onclick="go(0)"></div>
                <div class="carousel-indicator carousel-btn" onclick="go(1)"></div>
                <div class="carousel-indicator carousel-btn" onclick="go(2)"></div>
            </div>
        </div>
        <!-- Carousel -->
        <div class="carousel-switch">            
            <div class="switch-section wd4">
                <!-- Strategic Analytix -->
                <div class="switch-content active">
                    <h1 class="content-title">Strategic Analytix</h1>
                    <div class="content-text">
                            We serve NSA and the Intelligence Community with TS/SCI personnel providing services in countless areas.
                    </div>
                </div>
                <!-- Who We Are -->
                <div class="switch-content">
                    <h1 class="content-title">Who We Are</h1>
                    <div class="content-text">
                            We are minority owned small disvantaged business who recognizes that successful partnerships 
                            are based on open and direct communication, mutual respect and the ability to adapt to evolving 
                            capabilities within National Security.
                    </div>
                </div>
                <!-- Out Specialists -->
                <div class="switch-content">
                    <h1 class="content-title">Our Specialists</h1>
                    <div class="content-text">
                            Our specialists hold numerous credentials including Top Secret/SCI security clearances, PMP, 
                            ITIL, CSM and CPA certifications, Professional Development certifications and post-graduate 
                            degrees.
                    </div>
                </div>
            </div>
            <div class="switch-section wd6">
                <!-- Computer -->
                <div class="css-object css-computer screen">
                    <div class="content">                        
                        <div class="carousel-item-container">
                            <div class="m1 carousel-item"><img src="images/demo2.jpg"></div>
                            <div class="m2 carousel-item"><img src="images/demo3.jpg"></div>
                            <div class="m3 carousel-item"><img src="images/demo4.jpg"></div> 
                        </div>
                    </div>
                    <div class="base">
                        <div class="grey-shadow"></div>
                        <div class="foot top"></div>
                        <div class="foot bottom"></div>
                        <div class="shadow"></div>
                        <div class="keyboard">
                        <div class="btm"></div>
                        <ul class="keys">
                            <li ng-repeat="i in cc.getNumber(4) track by $index"></li>
                        </ul>
                        <div class="shadow"></div>
                        </div>
                    </div>
                </div>

                <!-- Mobile -->
                <div class="css-object css-phone">
                    <div class="screen">
                        <div class="content">
                            <ul class="txt">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>

                    <div class="shadow"></div>
                </div>
            </div>
        </div>
    </div>

     <!-- Content section-->
     <div class="content-section">
         <div class="content-box-container">
            <div class="content-box">
                <div class="box-row line-row">
                    <!-- Sensible -->
                    <div class="box-column line-column">
                        <div class="box-content box-icon"><img src="images/sensible_icon.png"></div>
                        <div class="box-content box-text">
                            <h2 class="content-title"><span class="text-highlight">Sensible</span> Solutions</h2>
                            <div class="content-text">We provide you with practical and easy solutions for your business.</div>
                        </div>
                    </div>
                    <!-- Foward -->
                    <div class="box-column line-column">
                        <div class="box-content box-icon"><img src="images/forward_icon.png"></div>
                        <div class="box-content box-text">
                            <h2 class="content-title"><span class="text-highlight">Forward</span> Thinking</h2>
                            <div class="content-text">Our consultants are leading experts in hundreds of industries.</div>
                        </div>
                    </div>
                </div>

                <div class="box-row line-row">
                    <!-- Our Client Strategy -->
                    <div class="box-column line-column">
                        <div class="box-content box-icon"><img src="images/client_icon.png"></div>
                        <div class="box-content box-text">
                            <h2 class="content-title"><span class="text-highlight">Our</span> Client <span class="text-highlight">Strategy</span>  </h2>
                            <div class="content-text">We help our clients achieve and retain the greatest possible success.</div>
                        </div>
                    </div>
                    <!-- Beyond The Box -->
                    <div class="box-column line-column">
                        <div class="box-content box-icon"><img src="images/box_icon.png"></div>
                        <div class="box-content box-text">
                            <h2 class="content-title">Beyond <span class="text-highlight">The Box</span></h2>
                            <div class="content-text">We strongly believe in delivering innovative strategies to your ideas.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>

     <!-- Solutions -->
     <div class="content-section background-2 beforeAngle angle-background">
        <h2 class="section-title">Featured Services</h2>
        <div class="content-box-container">
            <div class="content-box">
                <div class="box-row">
                    <!-- Cybersecurity -->
                    <div class="box-column column-flex">
                        <div class="box-content center-content"><div class="solution-img"><i class="material-icons">&#xE32A;</i></div></div>
                        <div class="box-content center-content"><h3>Cybersecurity</h3></div>
                        <div class="box-content"><div class="content-text">We provide cyber security expertise in support of intelligence and counter-terrorism operations to our Department of Defense customers...</div></div>
                        <div class="box-content center-content btn-box"><a href="{cyber-security}" class="cir-btn">Read More</a></div>
                    </div>
                    <!-- Systems Engineering -->
                    <div class="box-column column-flex">
                        <div class="box-content center-content"><div class="solution-img"><i class="material-icons">&#xE1B1;</i></div></div>
                        <div class="box-content center-content"><h3>Systems Engineering</h3></div>
                        <div class="box-content"><div class="content-text">We attract and retains technical leaders in the field of Systems Engineering, providing innovative solutions to our customers greatest challenges...</div></div>
                        <div class="box-content center-content btn-box"><a href="{system-engineering}" class="cir-btn">Read More</a></div>
                    </div>
                    <!-- Programmatic & Acquisition -->
                    <div class="box-column column-flex">
                        <div class="box-content center-content"><div class="solution-img"><i class="material-icons">&#xE32B;</i></div></div>
                        <div class="box-content center-content"><h3>Programmatic & Acquisition</h3></div>
                        <div class="box-content"><div class="content-text">We are a leader in the area of programmatic and business services. We deliver a broad range of key program management...</div></div>
                        <div class="box-content center-content btn-box"><a href="{programmatic-acquisition}" class="cir-btn">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>