<div class="content-body leadership">
    <div class="content-section page-header-body afterAngle angle-background">
        <div class="backImg">
            <div class="overlay"></div>
            <div class="img meetingimg"></div>
        </div>
        <div class="page-header-container content-box-container">
            <div class="content-box full-width about-back">
                <div class="box-row">
                    <div class="box-column">
                        <div class="page-title-container">
                            <div class="page-subtitle">Meet Strategic Analytix</div>
                            <h1 class="page-title">Our Leadership</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section low-y">
        <div class="content-section-container">
            <h2 class="section-title" style="text-align: left">Sudhir Bahl, CPA</h2>
            <span class="section-sub-title" style="text-align: left">
                <a class="ln" href="https://www.linkedin.com/in/sudhir-bahl-cpa-71480a1/?trk=public-profile-join-page"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
                <a class="ln" href="https://twitter.com/sudhirkbahl"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
            </span>
            <div class="content-box-container">
                <div class="content-box full-width">
                    <div class="flex-row">
                        <div class="flex-column bulk-text">
                            <p>Mr. Bahl, Chief Executive Officer, is a seasoned executive with over 17 years of experience in management and technical positions providing project management and technology consulting to the public sector, particularly the Defense and Intelligence communities. His leadership expertise is in the areas of data modeling, business process management (BPM), financial management and analysis, forensic accounting, strategic business planning and enterprise resource planning (ERP). Mr. Bahl has collaborated with government clients to streamline data systems, implement technology platforms and perform other advanced consulting techniques.</p>
                            <p>Mr. Bahl holds a Master’s of Science degree in Accounting and Financial Management and a Bachelor of Science degree in Finance from the University of Maryland. He is a member of the American Institute of Certified Public Accountants and is a Certified Public Accountant (CPA) licensed to practice in the state of Maryland. Mr. Bahl is also a Certified ScrumMaster (CSM) and a Lean Six Sigma (LSS) Green Belt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- IMG Divider -->
    <div class="content-section page-header-body slim-body beforeAngle afterAngle angle-background">
        <div class="backImg">
            <div class="overlay all-color4"></div>
            <div class="img office1img parallax"></div>
        </div>
    </div>


    <div class="content-section low-top">
        <div class="content-section-container">
            <h2 class="section-title" style="text-align: left">Shawn Bonner</h2>
            <span class="section-sub-title" style="text-align: left">
                <a class="ln" href="https://www.linkedin.com/in/shawn-bonner-067a413/"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
                <a class="ln" href="https://twitter.com/shawnkbonner"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
            </span>
            <div class="content-box-container">
                <div class="content-box full-width">
                    <div class="flex-row">
                        <div class="flex-column bulk-text">
                            <p>Mr. Bahl holds a Master’s of Science degree in Accounting and Financial Management and a Bachelor of Science degree in Finance from the University of Maryland. He is a member of the American Institute of Certified Public Accountants and is a Certified Public Accountant (CPA) licensed to practice in the state of Maryland. Mr. Bahl is also a Certified ScrumMaster (CSM) and a Lean Six Sigma (LSS) Green Belt.</p>

                            <p>Mr. Bonner’s expertise spans DoD acquisition/program management, financial risk analysis and earned value management. Mr. Bonner earned a Master’s of Business Administration (MBA) from Loyola University Maryland and a Bachelor of Science in Finance from Pennsylvania State University.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>