<div class="content-body relationships">
    <div class="content-section page-header-body afterAngle angle-background">
        <div class="backImg">
            <div class="overlay"></div>
            <div class="img meetingimg"></div>
        </div>
        <div class="page-header-container content-box-container">
            <div class="content-box full-width about-back">
                <div class="box-row">
                    <div class="box-column">
                        <div class="page-title-container">
                            <div class="page-subtitle">Meet Strategic Analytix</div>
                            <h1 class="page-title">Business Relationships</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section low-y">
        <div class="content-section-container">
            <h2 class="section-title">Our Partners</h2>
            <div class="content-box-container">
                <div class="content-box full-width">
                    <div class="flex-row">
                        <div class="flex-column">
                            <p>
                                Strategic Analytix is committed to partnering with industry leaders, professional services firms, and technology integrators
                                to provide our customers with the capabilities to develop and deploy the most advanced, comprehensive
                                solutions and technical expertise.
                            </p>
                            <p>
                                Strategic Analytix provides the agility of a small teaming business, while delivering depth and knowledge that enables significant results to our business
                                partners. Strategic Analytix is a trusted advisor to our Federal Agencies and is privileged to contribute
                                an integral role in to critical government missions.
                            </p>

                            <div class="partner-logos-container">
                                <img src="images/serco.png" alt="Serco">
                                <img src="images/caci.png" alt="CACI">
                                <img src="images/nsa.png" alt="NCA">
                                <img src="images/css.png" alt="CSS">
                                <img src="images/perspecta_logo.png" alt="Perspecta">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- IMG Divider -->
    <div class="content-section page-header-body beforeAngle afterAngle angle-background">
        <div class="backImg">
            <div class="overlay all-color4"></div>
            <div class="img office1img parallax"></div>
        </div>
    </div>


    <div class="content-section low-top">
        <div class="content-section-container">
            <h2 class="section-title">Our Community</h2>
            <div class="content-box-container">
                <div class="content-box full-width">
                    <div class="flex-row">
                        <div class="flex-column bulk-text">
                            <p>
                                At Strategic Analytix, corporate responsibility is a key component of our business and operating strategies. We are dedicated
                                to a program of philanthropy and take pride in conducting our business in harmony with the
                                environment and communities in which we operate. We remain devoted to maintaining the highest
                                ethical standards and embracing diversity.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>