<div class="content-body services">
    <div class="content-section page-header-body afterAngle angle-background">
        <div class="backImg">
            <div class="overlay"></div>
            <div class="img serviceimg"></div>
        </div>
        <div class="page-header-container content-box-container">
            <div class="content-box full-width about-back">
                <div class="box-row">
                    <div class="box-column">
                        <div class="page-title-container">
                            <div class="page-subtitle">Some Of Our Capabilities</div>
                            <h1 class="page-title">Services</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cyber Security -->
    <div class="content-section" id="cyber-security">
        <div class="content-section-container">
            <h2 class="section-title">Cyber Security</h2>   
            <div class="section-text">Strategic Analytix provides cyber security expertise in support of intelligence and counter-terrorism operations to our Department of Defense customers. Strategic Analytix works alongside U.S. government agencies and major defense and intelligence companies on projects that require a responsive approach to their most critical mission needs.</div>         
            <div class="content-box-container">
                <div class="content-box">
                    <div class="flex-row">
                        <div class="flex-column service-browser">
                            <div class="css-object browser">
                                <div class="browser-wrapper">
                                    <div class="browser-navigation-bar">
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                        <input value="https://strategic-analytix.com/services#cyber-security" disabled></input>
                                    </div>
                                
                                    <div class="browser-container">
                                        <img src="images/17.svg" alt="Browser content">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-column service-content">
                            <div class="content-txt">We pride ourselves on our high quality people, technical innovation and mission expertise. Some of our core capabilities include:</div>
                            <ul>
                                <li>Computer Network Operation/Exploitation/Defense</li>
                                <li>Systems Analysis </li>
                                <li>Malware Analysis & Reverse Engineering</li>
                                <li>Computer Forensics</li>
                                <li>Mobile Platform Engineering/AnalysisData Analystics</li>                            
                            </ul>           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- System Engineering -->
    <div class="content-section dark-1 beforeAngle afterAngle angle-background" id="system-engineering">
        <div class="content-section-container">
            <h2 class="section-title">System Engineering</h2>   
            <div class="section-text">Strategic Analytix attracts and retains technical leaders in the field of Systems Engineering, providing innovative solutions to our customers greatest challenges. Our goal is to provide technical support and insight based on industries’ latest tools and techniques to keep up with a rapidly evolving technological environment.</div>         
            <div class="content-box-container">
                <div class="content-box">
                    <div class="flex-row">
                        <div class="flex-column service-browser">
                            <div class="css-object browser">
                                <div class="browser-wrapper">
                                    <div class="browser-navigation-bar">
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                        <input value="http://strategic-analytix.com/services#system-engineering" disabled></input>
                                    </div>
                                
                                    <div class="browser-container">
                                        <img src="images/19.svg" alt="Browser content">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-column service-content">
                            <div class="content-txt">Some of our core capabilities include:</div>
                            <ul>
                                <li>Cloud Computing/Security</li>
                                <li>Systems Architecture</li>
                                <li>Software Engineering</li>
                                <li>Test Engineers</li>
                                <li>Usability Engineers</li>                            
                                <li>Life Cycle Development Systems Engineers</li>
                            </ul>           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Programmatic & Acquisition -->
    <div class="content-section" id="programmatic-acquisition">
        <div class="content-section-container">
            <h2 class="section-title">Programmatic & Acquisition</h2>   
            <div class="section-text">Strategic Analytix is a leader in the area of programmatic and business services. We deliver a broad range of key program management and Systems Engineering and Technical Assistance (SETA) services that include contract/acquisition support, PMO architecture and system engineering, project/portfolio management and financial analysis.</div>         
            <div class="content-box-container">
                <div class="content-box">
                    <div class="flex-row">
                        <div class="flex-column service-browser">
                            <div class="css-object browser">
                                <div class="browser-wrapper">
                                    <div class="browser-navigation-bar">
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                        <input value="http://strategic-analytix.com/services#programmatic-acquisition" disabled></input>
                                    </div>
                                
                                    <div class="browser-container">
                                        <img src="images/27.svg" alt="Browser content">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-column service-content">
                            <div class="content-txt">As a trusted adviser, our objective is to help our customers gain efficiencies through our business analysis and technical insight. Our expertise include:</div>
                            <ul>
                                <li>Contract Development Acquisition Support / Documentation (Milestone A-C)</li>
                                <li>Financial Analysis / Business Management</li>
                                <li>Integrated Master Scheduling (Primavera)</li>
                                <li>Lean Six Sigma / Business Process Improvement</li>
                                <li>Risk Management</li>                            
                                <li>Planning, Programming and Budget Execution (PPBE)</li>
                                <li>Acquisition Logistics Management</li>
                                <li>Performance Management</li>
                            </ul>           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
