<div class="content-body comingSoon">
    
    <div class="full-background-img-container">
        <div class="texture-overlay"></div>
        <div class="gradient-overlay"></div>
        <div class="parallax-backimg" back-img="assets/images/construction.jpg"></div>
    </div>  
    
    <div class="comingContent">
        <div class="comingText top">Our Website Is Going Through A Re-design</div>
        <div class="comingTitle">Under Construction</div>
        <div class="comingText bottom">Please Check Back Shortly For This Content</div>
    </div>
</div>